<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property scope="context" name="LOG_DIR" value="/sdcard/Android/media/${PACKAGE_NAME}/logs" />
    <appender name="STDOUT"
        class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder
            by default -->
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %-5level  %logger{20} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/current.log</file>
        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_DIR}/archive/java.%d{yyyy-MM-dd}.log.zip</fileNamePattern>

            <!-- Храним файлы логов 10 дней -->
            <maxHistory>10</maxHistory>

            <!-- Максимальный размер файлов лога 100mb -->
            <totalSizeCap>100MB</totalSizeCap>

        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %class{0}.%method{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>